{% extends "events/club_dashboard.html" %}

{% block content %}


<style>
    .event-card {
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
    background: #ffffff;
    margin-bottom: 40px;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.event-image {
    height: 200px;
    object-fit: cover;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    margin-left: 20px; 
    margin-top: 20px; 
    width: 90%;
    border-radius: 5px;

}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

</style>
<br><br><br>

<div class="container mt-5">
    <div class="row">
        <div class="col text-center mb-5">
            <h3 class="text-primary">Welcome, {{ club.name }} 👋</h3>
            <p class="text-muted">Here are your previously created events</p>
        </div>
    </div> <hr> <br>

    {% if events %}
    <div class="row">
        {% for event in events %}
        <div class="col-md-4 mb-4">
            <div class="card event-card shadow-sm h-100">
                {% if event.image %}
                <img src="{{ event.image.url }}"  class="card-img-top event-image" alt="{{ event.title }}">
            
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ event.title }}</h5>  
                    {% if event.approved == False %}
                    <p style="background-color: yellow; color: white; border-radius: 10px; width: 100px; padding-left: 20px; float: right;" >Pending</p>
                    {% else %}
                    <p style="background-color: green; color: white; border-radius: 10px; width: 100px; padding-left: 20px; float: right;" >Approved</p>
                    
                    {% endif %}
                    <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                    <p class="card-text"  style="float: right;" ><strong>Start Time:</strong> {{ event.start_time }}</p>
                    <p class="card-text"><strong>Venue:</strong> {{ event.venue }}</p>
                    <p class="card-text"  style="float: right;" ><strong>End Time:</strong> {{ event.end_time }}</p>
                    {% if event.guest %}
                    <p class="card-text"><strong>Guest:</strong> {{ event.guest }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info text-center">
        You haven’t created any events yet.
    </div>
    {% endif %}
</div>
{% endblock %}
